/* Layout styles for all pages in the site */

.wrapper {
  width: 100%;
  max-width: $max-page-width;
  margin-right: auto;
  margin-left: auto;
}

.page-title {
  margin-top: 0;
  &:after {
    display: block;
    margin-top: 5px;
    z-index: 1;
    content: "";
    width: 160px;
    height: 2px;
    background: $accent-color;
  }
}

.page-content {
  flex-grow: 1;
  @include flex(column, space-between);
  width: 100%;
  @include background(#97a5ce, "/assets/images/banner.jpg", no-repeat, cover);
  background-attachment: fixed;
  overflow: auto;
}

.top-double-padding {
  padding-top: calc(#{$default-padding} * 2);
}
