/* Sass variables **/

// Layout styles
$header-height: 64px;
$bg-color: #FFF;
$bg-color-alt: #FAFAFA;
$border-color: #E5E5E5;
$max-page-width: 1400px;
$min-content-width: 300px;
$default-padding: 20px;

// Text styles
$border-color: #E5E5E5;
$header-font-family: "Roboto Slab", Arial, sans-serif;
$header-color: #212121;
$body-font-family: "Open Sans", Arial, sans-serif;
$body-font-size: 1.125rem;
$body-color: #333;
$body-color-inverted: #FFF;
$link-color: #00549F;

// Colors
$dark-grey: #2C3539;
$light-grey: #EEE;
$accent-color: #97C1FF;
$hover-color: $light-grey;
$button-color: #027639;